:root {
  font-size: 16px;
}

// http://www.standardista.com/px-to-rem-conversion-if-root-font-size-is-16px/
$f1: 5.000rem !default;  // 80px
$f2: 2.500rem !default;  // 40px
$f3: 2.250rem !default;  // 36px
$f4: 1.750rem !default;  // 28px
$f5: 1.375rem !default;  // 22px
$f6: 1.000rem !default;  // 16px

// colors
$dark-smoke: rgba(0, 0, 0, .8) !default;
$black-smoke: rgba(0, 0, 0, .2) !default;
$accent-color: color("blue", "lighten-1") !default;
$blue: #0076df !default;
$red: #f95020 !default;
$green: #00cf26 !default;
$yellow: #efcc00 !default;
$orange: #ffcc22 !default;
$purple: #f92080 !default;
$dark-blue: #00369f !default;
$green: #00ab37 !default;
$dark-green: #009f06 !default;
$light-pink: #ffdddd !default;
$light-green: #ddffdd !default;
$dark-gray: #333 !default;
$mid-gray: #777 !default;
$light-gray: #ccc !default;
$lighter-gray: #eee !default;
$darken-1: rgba(#000,.0625) !default;
$darken-2: rgba(#000,.125) !default;
$darken-3: rgba(#000,.25) !default;
$darken-4: rgba(#000,.5) !default;

// syntax highlight
$hljs-comment: $mid-gray;
$hljs-keyword: $dark-blue;
$hljs-name: $dark-gray;
$hljs-number: $dark-green;
$hljs-string: $red;
$hljs-title: $red;
$hljs-type: $dark-blue;
$hljs-tag: $dark-blue;
$hljs-attribute: $dark-green;
$hljs-regexp: $dark-green;
$hljs-symbol: $purple;
$hljs-built-in: $dark-blue;
$hljs-preprocessor: $mid-gray;
$hljs-deletion: $light-pink;
$hljs-addition: $light-green;
$hljs-change: $dark-blue;
$hljs-chunk: $light-gray;
